@model SortItResearch.Models.Lesson

@{
    ViewBag.Title = "Lesson";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<a>@Model.Attachement</a>
@if(Model.IsMandatory)
{
    <input type="button" value="Անցնել թեստը" class="btn btn-info" onclick="generateTest()"/>
}
@if(Model.Type)
{
    <input type="button" value="Վերբեռնել աշխատանքը" class="btn btn-info" onclick="showAttachementUpload()" />
}

