@{
    ViewBag.Title = "Confirm Email";
}

<div class="subject-header-content">
    <div class="subject-header">
        <h2>Confirm email</h2>
    </div>
</div>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
