@{
    ViewBag.Title = "Confirm account";
}

<div class="subject-header-content">
    <div class="subject-header">
        <h2>Account confirmation</h2>
    </div>
</div>
<div class="container">
    <p>We have sent you a confirmation email to @ViewBag.Email.ToLower() . Please check your inbox and confirm the mail by following the link.</p>
</div>