@{
    ViewBag.Title = "Confirm account";
}
<div class="container">
    <h5>Account confirmation</h5>
    <p>We have sent you a confirmation email to @ViewBag.Email.ToLower() . Please check your inbox and confirm the mail by following the link.</p>
</div>