
@{
    ViewBag.Title = "SelectRole";
}

<h2>Select how you want to log in</h2>
<div class="container" align="center">
    <div class="row">
        <div class="col-sm-6">
            <a href="/Account/SelectedRole/59">
                <img style="height:100%; width:auto" src="~/images/teacher-icon.png" />
                <p>Facilitator</p>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/Account/SelectedRole/88">
                <img style="height:100%; width:auto" src="~/images/student-icon.png" />
                <p>Student</p>
            </a>
        </div>

    </div>
</div>
