@model List<SortItResearch.Models.Lesson>

@Html.DropDownList("LessonId",
                                 new SelectList(Model,
                                           "Id", "Name"),
                                            "--Select from topics--",
                                new { @class = "form-control" })
<p>or</p>
<input type="button" class="btn btn-default" value="Add new" onclick="addLessonPartial(@ViewBag.DayId)" />
<br />
<input style="margin-top:25px;" type="button" value="Submit" class="btn btn-info" onclick="addLessonForDay(@ViewBag.DayId)" />

