@{
    ViewBag.Title = "Facilitator";
}

<h2>Facilitator</h2>
<input type="text" class="form-control" placeholder="Facilitator Email-ը" id="StudentName" />
<input type="button" value="Search" class="btn btn-default" onclick="findStudent()" />
<div id="TeacherContent">

</div>
