
@{
    ViewBag.Title = "FindSkill";
}

<div class="row" style="margin-bottom:50px;">
    <div class="col-sm-2">
        @Html.DropDownList("SubjectId",
                                 new SelectList(ViewBag.Subjects,
                                           "Id", "Name"),
                                            "--Ընտրեք դասընթացը--",
                                new { @class = "form-control",@onChange= "GetDropDownData()" })
    </div>
    <div class="col-sm-2">
      <select class="form-control" id="ModuleId">
          <option value="0">Ընտրեք մոդուլը</option>
      </select>
    </div>
    <div class="col-sm-1">
        <input type="button" class="btn btn-default" onclick="moduleFilter()" value="Ֆիլտրել" />
    </div>
    <div class="col-sm-1" style="margin-top:5px;">
        <a href="/admin/Editlesson">
            <img src="~/images/addIcon.png" />
        </a>
    </div>
</div>
<div id="skill-container">

</div>