
@{
    ViewBag.Title = "FindSkill";
}
<div class="subject-header-content">
    <div class="subject-header">
        <h3>Choose your faciltator</h3>
    </div>
</div>
<div class="row" style="margin: 55px 0 50px 90px">
    <div class="col-sm-2">
        <p>Topic</p>
        @Html.DropDownList("SubjectId",
                                 new SelectList(ViewBag.Subjects,
                                           "Id", "Name"),
                                            "--Choose topic--",
                                new { @class = "form-control dropdown-skills",@onChange= "GetDropDownData()" })
    </div>
    <div class="col-sm-2">
        <p>Module</p>

        <select class="form-control dropdown-skills" id="ModuleId">
            <option value="0">Select Module</option>
        </select>
    </div>
    <div class="col-sm-1">
        <input type="button" class="btn btn-default dropdown-skills"style="margin-top:39px;" onclick="moduleFilter()" value="Filter" />
    </div>

</div>
<div id="skill-container">

</div>
<style>
    body {
        padding-top: 0;
    }

    .container-renderbody {
        margin-top: 0;
    }
</style>