
@{
    ViewBag.Title = "FindSkill";
}
<h3>Փնտրեք ղեկավարին ըստ դասընթացների</h3>
<div class="row" style="margin-bottom:50px;">
    <div class="col-sm-2">
        <p>Դասընթացը</p>
        @Html.DropDownList("SubjectId",
                                 new SelectList(ViewBag.Subjects,
                                           "Id", "Name"),
                                            "--Ընտրեք դասընթացը--",
                                new { @class = "form-control",@onChange= "GetDropDownData()" })
    </div>
    <div class="col-sm-2">
        <p>Մոդուլը</p>

      <select class="form-control" id="ModuleId">
          <option value="0">Ընտրեք մոդուլը</option>
      </select>
    </div>
    <div class="col-sm-1">
        <input type="button" class="btn btn-default" onclick="moduleFilter()" value="Ֆիլտրել" />
    </div>
 
</div>
<div id="skill-container">

</div>