@model SortItResearch.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}
<div style="margin:10px 20px;" class="container">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <nav class="main-menu">
            <ul class="nav-bar" style=" border-bottom:1px solid #808080;">
                <li class="nav-button nav-button-profileInfo"><a href="#" onclick="showProfileInfo()" class="active" style="padding-top:55px;background:url(../../images/user-profile.png) no-repeat 50%;">Profile</a></li>
                <li class="nav-button nav-button-profileCertificates"><a href="#" onclick="showProfileCertificates()" style="padding-top:55px;background:url(../../images/certificate-profile.png) no-repeat 50%;">Certificates</a></li>
            </ul>
        </nav>
    </div>
    <div id="profileInfo">
        <dl class="dl-horizontal">
          
           
            @Html.Action("ProfileDetails")
            @Html.Action("TeacherSkills")
        </dl>
        <hr />

    </div>
    <div id="profileCertificates">

    </div>
</div>